@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import '@fortawesome/fontawesome-free/css/all.css';



* {

padding: 0;
margin: 0;
box-sizing: border-box;
font-family: "Roboto", serif;
font-weight: 300;
font-style: normal;




}

/* CSS for fade-in animation */
/* CSS for fade-in and scale-up animation */
input::placeholder {
    color: #575b62; /* Change this color as needed */
    opacity: 1; /* Ensure the placeholder text color is visible */
  }
  input:focus {
    border-color: #66afe9; /* Light blue color */
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6); /* Light blue shadow for focus effect */
    outline: none; /* Remove default outline */
  }
    